#https://docs.espressif.com/projects/esp-idf/en/latest/esp32s2/api-reference/kconfig.html#sdk-tool-configuration

CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y
CONFIG_SPIRAM_MEMTEST=
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=

#COMPILER OPTIMIZATIONS
#CONFIG_COMPILER_OPTIMIZATION_SIZE=
CONFIG_COMPILER_OPTIMIZATION_PERF=y

#OTA
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-titan-N8.csv"


#investigate disabling second core to save power
#currently required for pin.irq to fire
#CONFIG_FREERTOS_UNICORE=y

CONFIG_LWIP_LOCAL_HOSTNAME="TITAN"

#RTC
#https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/kconfig.html#config-esp32-rtc-clk-src
#CONFIG_ESP32_RTC_CLK_SRC 
#ESP32_RTC_CLK_SRC_EXT_OSC=y

CONFIG_NEWLIB_STDIN_LINE_ENDING_CR=n
CONFIG_NEWLIB_STDIN_LINE_ENDING_CRLF=n
CONFIG_NEWLIB_STDIN_LINE_ENDING_LF=y
CONFIG_NEWLIB_STDOUT_LINE_ENDING_CR=n
CONFIG_NEWLIB_STDOUT_LINE_ENDING_CRLF=n
CONFIG_NEWLIB_STDOUT_LINE_ENDING_LF=y

#use UART0 as default console
ESP_CONSOLE_UART_DEFAULT=n

##USB
#CONFIG_USB_DESC_MANUFACTURER_STRING="Integrated Bionics"
#CONFIG_USB_DESC_PRODUCT_STRING="TITAN"
#CONFIG_USB_DESC_CDC_STRING="TITAN CDC"
CONFIG_USB_ENABLED=y #use UART0 for terminal.  dupterm is not properly mirroring input

# CONFIG_TINYUSB_DESC_USE_ESPRESSIF_VID is not set
CONFIG_TINYUSB_DESC_CUSTOM_VID=0x303A
# CONFIG_TINYUSB_DESC_USE_DEFAULT_PID is not set
CONFIG_TINYUSB_DESC_CUSTOM_PID=0x80D4
CONFIG_TINYUSB_DESC_BCD_DEVICE=0x0100
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="TITAN SPORTS"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="TITAN"
CONFIG_TINYUSB_DESC_SERIAL_STRING="_titan_"

