
#CONFIG OPTIONS
#https://docs.espressif.com/projects/esp-idf/en/latest/esp32s2/api-reference/kconfig.html#sdk-tool-configuration

CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y
CONFIG_SPIRAM_MEMTEST=
CONFIG_SPIRAM_MODE_QUAD=
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=
CONFIG_SPIRAM_SPEED_120M=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

#Enable dynamic frequency scaling (DFS) at startup
#https://docs.espressif.com/projects/esp-idf/en/latest/esp32s3/api-reference/kconfig.html?highlight=config_pm_dfs_init_auto
#CONFIG_PM_DFS_INIT_AUTO=y

#set freq to 240Mhz
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_MHZ=240


#COMPILER OPTIMIZATIONS
#CONFIG_COMPILER_OPTIMIZATION_SIZE=
CONFIG_COMPILER_OPTIMIZATION_PERF=y

#OTA
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-titan-N16.csv"


#investigate disabling second core to save power
#currently required for pin.irq to fire
#CONFIG_FREERTOS_UNICORE=y

CONFIG_LWIP_LOCAL_HOSTNAME="TITAN"

#RTC
#https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/kconfig.html#config-rtc-clk-src
CONFIG_ESP32S3_RTC_CLK_SRC_EXT_CRYS=y

CONFIG_NEWLIB_STDIN_LINE_ENDING_CR=n
CONFIG_NEWLIB_STDIN_LINE_ENDING_CRLF=n
CONFIG_NEWLIB_STDIN_LINE_ENDING_LF=y
CONFIG_NEWLIB_STDOUT_LINE_ENDING_CR=n
CONFIG_NEWLIB_STDOUT_LINE_ENDING_CRLF=n
CONFIG_NEWLIB_STDOUT_LINE_ENDING_LF=y

#use UART0 as default console
ESP_CONSOLE_UART_DEFAULT=n

##USB
#CONFIG_USB_DESC_MANUFACTURER_STRING="Integrated Bionics"
#CONFIG_USB_DESC_PRODUCT_STRING="TITAN"
#CONFIG_USB_DESC_CDC_STRING="TITAN CDC"
CONFIG_USB_ENABLED=y #use UART0 for terminal.  dupterm is not properly mirroring input

# CONFIG_TINYUSB_DESC_USE_ESPRESSIF_VID is not set
CONFIG_TINYUSB_DESC_CUSTOM_VID=0x303A
# CONFIG_TINYUSB_DESC_USE_DEFAULT_PID is not set
CONFIG_TINYUSB_DESC_CUSTOM_PID=0x80D4
CONFIG_TINYUSB_DESC_BCD_DEVICE=0x0100
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="TITAN SPORTS"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="TITAN"
CONFIG_TINYUSB_DESC_SERIAL_STRING="_titan_"


#NIMBLE
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=8
#CONFIG_BTDM_CONTROLLER_BLE_MAX_CONN=9
#CONFIG_BTDM_CONTROLLER_BLE_MAX_CONN_EFF=9

#WATCHDOG
#https://docs.espressif.com/projects/esp-idf/en/latest/esp32s3/api-reference/system/wdts.html?highlight=panic
CONFIG_MICROPY_TASK_WDT_PANIC=y
CONFIG_ESP32_PANIC_PRINT_REBOOT=y
CONFIG_ESP_INT_WDT=y
CONFIG_ESP_INT_WDT_TIMEOUT_MS=300
CONFIG_ESP_INT_WDT_CHECK_CPU1=y
CONFIG_ESP_TASK_WDT_EN=y
CONFIG_ESP_TASK_WDT_INIT=y
CONFIG_ESP_TASK_WDT_PANIC=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=5
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1

